<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}No title{% endblock %}</title>
    {% block css %}
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    {% endblock css %}
</head>
<body>
    {% block body %}
        {% block content %}{% endblock content %}
    {% endblock body %}
</body>
{% block script %}
    <script type="text/javascript" src="/js/jquery-2.0.0.js"></script>
{% endblock script %}
</html>
