{% extends "base.html" %}

{% block title %}Django Hello World{% endblock %}

{% block content %}
    <h3>Hello! This is a Django Hello World Project.</h3>

    <table width="80%" cellpadding="0" cellspacing="10" border="0">
        <tr>
            <td><h3>42 Coffee Cups Test Assignment</h3></td>
            <td>
                {% if user.is_authenticated %}
                    <div>
                        <a href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path|default:'/' }}">Logout</a>
                    </div>
                    <div>
                        <a href="/profile/{{ user.id }}/edit/">Edit</a>
                    </div>
                {% else %}
                    <a href="{% url "django.contrib.auth.views.login" %}?next={{ request.path|default:'/' }}">Login</a>
                {% endif %}
            </td>
        </tr>
    </table>

    <table width="80%" cellpadding="0" cellspacing="10" border="0">
        <tr>
            <td>
                <b>Name</b>: {{ profile.first_name|escape|default:'-' }}
            </td>
            <td>
                <b>Email</b>: {{ profile.email|escape|default:'-' }}
            </td>
        </tr>
        <tr>
            <td><b>Last name</b>: {{ profile.last_name|escape|default:'-' }}</td>
            <td><b>Jabber</b>: {{ profile.jabber|escape|default:'-' }}</td>
        </tr>
        <tr>
            <td><b>Date of birth</b>: {{ profile.birthday|escape|default:'-' }}</td>
            <td><b>Skype</b>: {{ profile.skype|escape|default:'-' }}</td>
        </tr>
        <tr>
            <td valign="top">
                <b>Photo</b>:
                <div width="50" height="100">
                    {%  if profile.photo %}
                        <img src="/{{ profile.photo.url }}" alt="User photo" border="2" width="158" height="150">
                    {% endif %}
                </div>
            </td>
            <td><b>Other contacts</b>: <div>{{ profile.contacts|escape|linebreaksbr|default:"-" }}</div></td>
        </tr>
        <tr>
            <td valign="top"></td>
            <td><b>Bio</b>: <div>{{ profile.bio|escape|linebreaksbr|default:"-" }}</div></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</p>

<p>
    <a href="/requests/">requests</a>
</p>
{% endblock content %}

{% block script %}
    {% if request.user.is_authenticated %}
        {{ block.super }}
        <script type="text/javascript" src="/js/jquery.form.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#profile_form").ajaxForm(function() {
                //alert("Спасибо за комментарий!");
            });
        });
        </script>
    {%  else %}
    {% endif %}
{% endblock script %}
