{% extends "base.html" %}

{% block content %}
    <h3>First 10 http request</h3>

    <table width="100%" cellpadding="1" cellspacing="1" border="1">
        {% for j in first10 %}
            <tr>
                <td>
                    <div><b>DateTime</b>: {{ j.date|date:"Y-m-d H-i-s" }}</div>
                    <div><b>User</b>: {{ j.user|default:'anonymous' }}</div>
                    <div><b>Method</b>: {{ j.method }}</div>
                    <div><b>User-Agent</b>: {{ j.user_agent|default:"-" }}</div>
                    <div><b>Full path</b>: {{ j.full_path|default:"-" }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
